<p>While your dental education prepares you well for clinical practice, there is often little time to reflect upon how your future dental career and personal goals may align with the needs of vulnerable underserved populations.</p>

<p>PASS is a series of self-paced, web-based learning modules that address five specific populations across the lifespan, their oral health needs, and opportunities to address their care.</p>

<p>Each module will include:</p>

<ol>
	<li>a description of one population and its oral health status and needs,</li>
	<li>an activity that presents information on opportunities unique to addressing that population, and</li>
	<li>videos of real life dental exemplars who have successfully incorporated service to these populations into their professional careers.</li>
</ol>

<h3>Let's get started:</h3>
<ul class="module_list">
    <li>Module 1: <a href="/young-children/introduction/">Young Children</a></li>
    <li>Module 2: <a href="/adolescents/introduction/">Adolescents</a></li>
    <li>Module 3: <a href="javascript://">Rural Populations</a></li>
    <li>Module 4: <a href="javascript://">Older Adults</a></li>
    <li>Module 5: <a href="javascript://">Special Needs</a></li>
</ul>
